body{
background-color: white;
}
table{
    width: 1000px;
    background-color: white;
    margin: auto;
    height: 700px;

    border-collapse: collapse;
}
#header{
    background-image: url(6.img/gt1.jpg);
    height: 100px;
    text-align: center;
}
a{
width:100%;
color: black;
font: bold 2.5em  Arial;
text-decoration: none;
}
#navbar{

    background-color: #0a141d;
    border: 1px solid #0a141d; 
   
    width: 160px;
    padding-left: 12px;
    padding-right: 0px;
  
}
ul{ 
    color: #abd8ff;
    list-style: circle;
    padding: 10px 0 0 10px ;
    line-height: 2;
}
li{
    color: #abd8ff;
    font: bold  Arial;
}
#main{
    background-color: rgb(200, 62, 62);
    
}
iframe{
   width: 100%;
   height: 100%;
}
#reklam{

    background-color: white;
    width: 160px;
}
#img1{
    
    height: 800px;
    width: 160px;
 
}
#img2{
   width: 160px;
 
}
#footer{
    background-color: #0a141d;
    height: 60px;
    text-align: center;
    margin-top: 0px;
}

